/* Genel Stiller */
:root {
  --primary-color: #0066cc;
  --secondary-color: #ffffff;
  --accent-color: #48bb78;
  --light-bg: #f8fafc;
  --dark-bg: #2d3748;
  --text-dark: #1a202c;
  --text-light: #718096;
  --white: #ffffff;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
  --hover-color: #9e211e;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header ve Navigasyon */
header {
  background-color: var(--light-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}

.nav-links a {
  color: rgb(1, 1, 158);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}

.nav-links a:hover {
  color: var(--hover-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 24px;
  color: var(--primary-color);
  transition: var(--transition);
}

.hamburger .menu-icon {
  display: block;
}

.hamburger .close-icon {
  display: none;
}

.hamburger.active .menu-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: block;
}

/* Hero Bölüm */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/sera.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.hero-content {
  color: var(--white);
  max-width: 1000px;
  width: 90%;
  padding: 0 20px;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: var(--transition);
}

.cta-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

/* Bölüm Stilleri */
section {
  padding: 80px 0;
}

section h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

/* Hakkımızda Bölümü */
.about {
  background-color: var(--white);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-text {
  text-align: center;
}

.about-text ul {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-text li {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ürünler Bölümü */
.products {
  background-color: #ededed;
  padding: 80px 0;
}

.products-container {
  background-color: #ededed;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 20px;
  max-width: 1800px;
  margin: 0 auto;
}

.product-card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.product-card a {
  text-decoration: none;
  color: black;
  transition: var(--transition);
}

.product-card a:hover {
  color: var(--hover-color);
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card i {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

/* Hizmetler Bölümü */
.services {
  background-color: var(--background-light);
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  max-width: 1800px;
  margin: 0 auto;
}

.service-card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 450px;
  margin: 0 auto;
}

.service-card:hover {
  color: #ff0000;
  transform: translateY(-5px);
}

.service-card i {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.service-card h3 {
  margin-top: 10px;
}
.service-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.service-card img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}
/* İletişim Bölümü */
.contact {
  background-color: #ededed;
  padding: 80px 0;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #ededed;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-item i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.info-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  transition: var(--transition);
}

.info-item a p {
  color: var(--text-color);
  padding-left: 6px;
}

.info-item a:hover p {
  color: var(--hover-color);
  transform: translateY(-2px);
}

.hizli-ulas .hizli-ulas-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
}

.info-item a {
  text-decoration: none;
  font-size: 20px;
  transition: var(--transition);
}
.info-item a p {
  text-decoration: none;
  font-size: 20px;
  transition: var(--transition);
}
.info-item a p:hover {
  color: var(--hover-color);
  transform: translateY(-5px);
}

/* Footer */
footer {
  background-color: #0164ab;
  color: var(--white);
  padding: 3rem 0 1rem;
  width: 100%;
  position: relative;
  bottom: 0;
  min-height: 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: var(--white);
  font-size: 1.5rem;
  transition: var(--transition);
}

.social-links a:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .logo {
    grid-column: 2;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    touch-action: manipulation;
    font-size: 20px;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
  }

  .nav-links.active {
    display: flex;
    margin-right: 5px;
  }

  .nav-links a {
    padding: 0.8rem;
    width: 100%;
    touch-action: manipulation;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .product-grid,
  .service-grid {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .product-card,
  .service-card {
    touch-action: manipulation;
    max-width: 100%;
  }

  .product-card img,
  .service-card img {
    max-height: 250px;
  }

  .info-item a {
    font-size: 16px;
  }

  .info-item a p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-content h2 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  section h2 {
    font-size: 1.8rem;
  }

  .about-text ul {
    flex-direction: column;
  }

  .product-card,
  .service-card {
    margin: 0;
  }

  .navbar {
    padding: 0.6rem;
  }

  .hamburger {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .hamburger {
    font-size: 16px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1400px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 3rem;
  }

  .about-content {
    max-width: 1200px;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .about-text ul {
    font-size: 1.1rem;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    max-width: 450px;
  }

  .service-card {
    max-width: 500px;
  }

  .hero-content {
    max-width: 1200px;
  }

  .hero-content h1 {
    font-size: 4.5rem;
  }

  .about-content {
    max-width: 1400px;
  }
}
